<div class="container">
    <div class="row" style="width:100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px;">
                <h3>Login</h3>
                <app-loading *ngIf="loading"></app-loading>
                <form [formGroup]="login" (ngSubmit)="logIn()" style="padding-top: 10px;">
                    <div class="form-group mb-3 text-start">
                        <input type="text" class="form-control" placeholder="Usuario" formControlName="username">
                        <span class="text-danger" style="margin-left: 7px;" *ngIf="login.get('username')?.hasError('required') && login.get('username')?.touched">
                            El usuario es <strong>requerido</strong>
                        </span>
                    </div>
                    <div class="form-group text-start">
                        <input type="password" class="form-control" placeholder="Contaseña" formControlName="password">
                        <span class="text-danger" style="margin-left: 7px;" *ngIf="login.get('password')?.hasError('required') && login.get('password')?.touched ">
                            La contraseña es <strong>requerida</strong>
                        </span>
                    </div>
                    <div class="form-group" style="margin: 15px auto;">
                        <button class="btn btn-primary btn-login" 
                        style="margin: 0 20px 0 0;" 
                        [disabled]="!login.valid" 
                        type="submit">Aceptar</button>
                        <button type="button" class="btn btn-secondary" routerLink="/inicio">Volver</button>
                    </div>
                    <div class="form-group">
                        <a style="color: #6a83f0; cursor: pointer;" routerLink="/inicio/register">Crear Cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>