<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <form [formGroup]="changePassword" (ngSubmit)="savePassword()">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="oldPassword">
                <span class="text-danger" 
                *ngIf="changePassword.get('oldPassword')?.hasError('required') 
                && changePassword.get('oldPassword')?.touched"
                style="margin-left: 10px;">
                    La contraseña es <strong>requerida</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="newPassword">
                <span class="text-danger" 
                *ngIf="changePassword.get('newPassword')?.hasError('required') 
                && changePassword.get('newPassword')?.touched"
                style="margin-left: 10px;">
                    La nueva contraseña es <strong>requerida</strong>
                </span>
                <span class="text-danger" 
                *ngIf="changePassword.get('newPassword')?.hasError('minlength')"
                style="margin-left: 10px;">
                    La nueva contraseña debe tener <strong>4</strong> caracteres
                </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="confirmPassword">
                <span class="text-danger" *ngIf="changePassword.hasError('notSame')">
                    Contraseñas <strong>distintas</strong>
                </span>
            </div>
            <div class="text-center">
                <app-loading *ngIf="loading" class="text-center"></app-loading>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-acept" [disabled]="changePassword.invalid">Aceptar</button>
                <button class="btn btn-secondary" routerLink="../">Volver</button>
            </div>
        </form>
    </div>
</div>