.btn-acept{
    background-color: #259125;
    border: #259125;
}
.btn-acept:hover{
    background-color: #3cbb37;
}
form{
    margin: 40px;
}
.form-group{
    margin:15px auto;
}
.btn{
    margin:10px;
    padding: 10px 30px;
}