<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <h4 class="text-secondary d-none d-lg-block">Mensajeria</h4>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-dark" routerLink="/dashboard">Perfil</a></li>
        <li><a href="#" class="nav-link px-2 link-dark" routerLink="/dashboard/cambiarPassword">Configuración</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-success me-2" (click)="logOut()">LogOut</button>
      </div>
    </header>
  </div>